*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    display: grid;
    place-items: center;
}
.game-info{
    color: white;
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    background-color:rgba(255,255,255,0.15);
    border-radius: 1rem;
    border:1px solid rgba(255,255,255,0.25);
    padding: 0.5rem 3rem;
    text-align: center;
}
.Tic-tac-toe{
    width: 90%;
    max-width: 20rem;
    background-color:rgba(255,255,255,0.15);
    border-radius: 1rem;
    border:1px solid rgba(255,255,255,0.25);
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    aspect-ratio: 1/1;
}
.box{
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    font-size: 3rem;
    color: rgb(19, 10, 10);
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.box1, .box2, .box4,.box5{
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

.box3,.box6{
    border-bottom: 2px solid white;
}
.box7,.box8{
    border-right: 2px solid white;
}

.btn{
    color: rgb(19, 15, 15);
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    background-color:rgba(255,255,255,0.15);
    border-radius: 1rem;
    border:1px solid rgba(255,255,255,0.25);
    padding: 0.5rem 2rem;
    display: none;
}
.btn.active{
    display: flex;
}
.win{
    background-color: rgb(13, 114, 13);
}